.page {
    padding-top: 200px;
    padding-bottom: 60px;
    /* min-height: 100vh; */

    &:after {
        content: "";
        position: absolute;
        left: -578px;
        top: -622px;
        width: 1446px;
        height: 1446px;
        background: radial-gradient(50.03% 50.03% at 50% 49.97%, rgba(22, 23, 26, 0) 0, #16171a 100%);
        z-index: 1;

        @media screen and (max-width:900px) {
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
        }
    }

    &:before {
        content: "";
        position: absolute;
        left: -578px;
        top: -622px;
        width: 1446px;
        height: 1446px;
        opacity: .2;
        z-index: -1;
        background: linear-gradient(270deg, #fb8c61, #fdd68d 39.1%, #4eebd5 68.27%, #0e96ee);

        @media screen and (max-width:900px) {
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
        }
    }

    .container {
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 24px;
        z-index: 3;
        position: relative;
    }


    .subtitle {
        margin-bottom: 120px;
        color: #fff;
        font-weight: 600;
        font-size: calc(32px + 22 * ((100vw - 375px) / 1065));
        display: flex;
        max-width: 600px;
    }

    .title {
        font-size: calc(32px + 22 * ((100vw - 375px) / 1065));
        font-weight: 600;
        line-height: 1.19;
        letter-spacing: -.778846px;
        background: linear-gradient(90deg, #0e96ee, #4eebd5, #fdd68d, #fb8c61);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
        font-size: 6rem;
        margin-bottom: 0px;
        text-transform: capitalize;

        @media screen and (max-width:900px) {
            font-size: 2rem;
        }
    }

}


.portfolioItems {
    position: relative;
    z-index: 1;
    padding: 90px 0;

    .container {
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 20px;

    }

    .workGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 90px 60px;

        @media screen and (max-width:900px) {
            grid-template-columns: 1fr;
        }
    }

    .workGridItem {

        .workGridItemImage {
            width: 100%;
            height: 400px;
            object-fit: contain;
            object-position: center;
            border-radius: 5px;
            background-color: #fff;
            margin-bottom: 20px;
            padding: 20px;
        }

        a {
            display: flex;
            position: relative;
            flex-direction: column;
            gap: 1rem;

            .btn_link {
                width: 30px;
            }
        }

        .title {
            font-size: 2rem;
            font-weight: 700;
        }

        .description {}
    }
}