.page {
    min-height: 100vh;
    padding-top: 200px;
    
}

.title{
    font-size: calc(32px + 22 * ((100vw - 375px) / 1065));
    font-weight: 600;
    line-height: 1.19;
    letter-spacing: -.778846px;
    background: linear-gradient(90deg, #0e96ee, #4eebd5, #fdd68d, #fb8c61);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 20px;
}